.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: #343434;
  box-shadow: 2px 2px 50px #686868;
  overflow-y: scroll;
  overflow-x: hidden;

  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;

  h2 {
    padding: 2rem;
  }
}

.activeLibrary {
  opacity: 1;
  transform: translateX(0);
}

//firefox
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

//chrome
*::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}