.nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    cursor: pointer;
    border: 2px solid rgb(88, 88, 88);
    padding: 0.5rem;
    transition: all 0.3s ease;
    color: #adadad;

    &:hover {
      background: rgb(65, 65, 65);
      color: #f6f6f6;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    button {
      z-index: 1;
    }
  }
}